$bg: rgb(21, 21, 21);
$hf: #343a40;
$text: aqua;
$borders: gray;
$logbut: rgba(128, 128, 128, 0.122);
$cfc: rgba(128, 128, 128, 0.308);


@import "body";
@import "header";
@import "main";
@import "footer";
@import "activities";















